  @font-face {

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;

    src: url("../fonts/ptsans-400.woff2") format("woff2");

    font-display: swap;

  }

  /* PT Sans полужирный */
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }


  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 1280px;
    box-sizing: border-box;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  main {
    flex-grow: 1;
  }

  html {
    height: 100%;
  }

  .link {
    text-decoration: none;
    text-align: center;
  }


  .visually-hidden {
    display: none;
  }

  .page-header {
    color: #000000;
    background-color: #ffffff;
  }

  /*Меню навигации*/

  .navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

  .logo {
    display: inline-block;
    z-index: 1;
    position: relative;
    display: flex;
    width: 139px;
    margin-bottom: -5px;
    margin-right: 30px;
  }

  .navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
    margin-right: auto;
  }

  .navigation-list-user {
    margin: 0;
    max-width: 330px;
    justify-content: flex-end;
  }

  .navigation-list-user li:last-child {
    margin-left: 20px;
  }

  .navigation-item {
    position: relative;
  }

  .navigation-link {
    display: block;
    position: relative;
    padding: 20px 17px 19px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: inherit;
    background-color: inherit;
  }

  .navigation-link:hover {
    color: #756257;
  }

  .navigation-link:active {
    color: #7562574D;
  }

  .navigation-link-current::after {
    position: absolute;
    right: 17px;
    bottom: 0;
    margin-bottom: -1px;
    left: 17px;
    height: 2px;
    background-color: #756257;
    content: "";
  }

  .navigation-user .navigation-link {
    min-width: 18px;
    min-height: 18px;
    padding: 24px 12px;
  }

  .navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
  }

  .navigation-icon:hover {
    fill: #756257;
  }

  .navigation-icon:active {
    fill: #7562574D;
  }

  .navigation-link:active .count {
    opacity: 0.3;
  }

  .count-favorites {
    position: absolute;
    top: 15px;
    right: -2px;
    min-width: 20px;
    height: 20px;
    text-align: center;
    background-color: #7DB54F;
    border-radius: 50%;
  }

  .count {

    font-family: "PT Sans", sans-serif;
    background-repeat: no-repeat;
    display: block;
    font-weight: 400;
    font-size: 10px;
    width: 20px;
    height: 20px;
    align-items: center;
    color: #FFFFFF;
    line-height: 13px;
    margin-top: 4px;
  }

  .button {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .button:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .navigation-link.button-brown {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    width: 160px;
  }

  .button-brown {
    background-color: #756157;
  }

  .button-brown:hover {
    background-color: #615048;
    color: #FFFFFF;
  }

  .button-brown:focus {
    outline: 3px solid #83B3D3;
  }

  .button-brown:active {
    border: none;
    color: #FFFFFF4D;
  }


  .main-container {
    flex-grow: 1;
  }

  .main-index {
    text-align: center;
    line-height: 21px;
  }


  .welcome-split {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #476b86;
    width: 1200px;
  }

  .vector-welcome {
    margin-bottom: 25px;
    margin-top: 51px;
  }

  .welcome-split::after {
    content: url("../images/divider.svg");
    width: 1200px;
    height: 57px;
    margin-top: auto;
  }


  /*Advantages*/

  /*Header*/
  .advantages-header {
    font-size: 22px;
    line-height: 26px;
    font-weight: inherit;
    text-align: center;
    color: #333333;
    margin-bottom: 0;

  }

  .advantages {
    margin: 0 auto;
  }

  .advantages h2 {
    margin: 0 auto;
    padding: 69px 70px 25px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
  }

  .advantages > p {
    width: 651px;
    margin: 0 auto;
    margin-bottom: 21px;
    padding: 0 70px 69px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
  }

  /*List*/
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /*Title*/
  .advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 98px;
    margin-bottom: 29px;
    color: #000000;
  }

  .advantages-title-article {
    color: #FFFFFF;
  }


  .advantages-description-article {
    color: #FFFFFF;
  }

  .container-item-blue {
    margin: 0 auto;
    width: 230px;
  }

  .advantages-item {
    width: 400px;
    min-height: 384px;
    padding: 85px;
    box-sizing: border-box;

  }

  .advantages-item-box {
    width: 1200px;
  }

  .advantages-item:nth-child(even) {
    background-color: #83B3D31F;
  }

  .advantages-item:nth-child(odd) {
    background: #83B3D333;
  }

  .advantages-item-blue {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    color: #ffffff;
    background-color: #83B3D3;
  }

  /*Description*/
  .advantages-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 79px;
    font-size: 18px;
  }

  .advantages-advices {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* Рекомендации */

  .advices {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 184px;
    background-color: #83B3D31F;
    color: #333333;
  }

  .advices-title-housing::before {
    content: url(../images/home.svg);
    top: 80px;
  }

  .advices-title-eat::before {
    content: url(../images/food.svg);
    top: 80px;
  }

  .advices-title-gifts::before {
    content: url(../images/present.svg);
    top: 80px;
  }

  .advices-title-housing::before,
  .advices-title-eat::before,
  .advices-title-gifts::before {
    position: absolute;
    left: 0;
    right: 0;
  }

  .advices-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
  }

  .advices:nth-child(2n) {
    background-color: #ffffff;
  }


  .advices-description {
    margin: 0;
    margin-bottom: 81px;
    color: #333333;
    font-size: 18px;
  }

  /*Search-hotel*/
  .interest-title {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    background-color: #FFFFFF;
    margin-bottom: 29px;
    text-transform: uppercase;
  }

  .search-hotel {
    width: 592px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;

  }

  .interest-title h2 {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
  }

  .interest-title p {
    margin: 0;
    padding-bottom: 54px;
    font-size: 22px;
    line-height: 26px;
  }

  .search-description {
    margin: 0;
    margin-bottom: 54px;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: inherit;
  }

  .button-search {
    width: 376px;
    padding: 8px 16px;
    font-size: 20px;
    line-height: 36px;

  }



  /*Form for search-hotel*/
  .modal-title {

    color: #000000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .form-label {
    color: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
  }

  .field-modal {
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  body .date-invalid {
    color: #FF5757;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  .date-valid {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  input {

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .btn {
    padding: 8px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #83B3D3;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    border-color: #83B3D3;
    width: 577px;
    flex-direction: column;
  }


  /*Подпишитесь на рассылку */

  .newsletter {
    color: #ffffff;
    background-image: url("../images/background-newsletter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #82B3D3;
    min-height: 415px;
    text-align: center;
  }

  .newsletter-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .newsletter-container {
    width: 684px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .newsletter h2 {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .newsletter p {
    width: 475px;
    margin: 0 auto;
    padding-bottom: 54px;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    font-weight: 400;
  }

  .button-newsletter {
    grid-column: 2/3;
    padding: 8px 16px;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
  }

  .newsletter-form {
    display: grid;
    grid-template-columns: 452px 232px;
    height: 52px;
    box-sizing: border-box;
  }


  .field {
    grid-column: 1/2;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 12px 20px;
    color: #000000;
    background-color: #F2F2F2;
    border-radius: 4px 0 0 4px;
    border: none;
  }

  /* Подвал*/

  .page-footer-container {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding: 25px 0;
    align-items: center;

  }

  .footer-social {
    max-width: 200px;
    margin-right: auto;
  }

  .footer-social-list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 12px;
    }

    .footer-social-item:nth-child(3n) {
      margin-right: 0;
    }


  .footer-social-item {
    width: 40px;
    height: 40px;
    margin-right: 3px;
    box-sizing: border-box;
  }

  .footer-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    fill: #83B3D3;
    align-items: center;

     }

     .footer-social-link svg {
      margin: 0 auto;
    }

  .footer-social-link:hover {
    fill: #68A2CA;
  }

  .footer-social-link:focus {
    box-shadow: inset 0 0 0 3px #83B3D3;
    border-radius: 10px;
  }

  .footer-social-link:active {
    opacity: 0.3;
    box-shadow: none;
  }

  .footer-contacts {
    display: block;
    margin: 0 auto;
  }

  .footer-contacts-phone {
    display: block;
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
    text-decoration: inherit;
    color: #000000;
    font-style: normal;
    padding: 15px;
    text-align: center;
  }

  .footer-contacts-phone:hover {
    color: #756257;
  }

  .footer-contacts-phone:focus {
    box-shadow: inset 0 0 0 3px #83B3D3;
    border-radius: 10px;
    color: #756257;
  }

  .footer-contacts-phone:active {
    opacity: 0.3;
    box-shadow: none;
  }

  .footer-logo {
    width: 160px;
    margin-left: 140px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .footer-logo:focus {
    box-shadow: inset 0 0 0 3px #83B3D3;
    border-radius: 10px;
    outline: none;
  }

  .footer-logo:active {
    opacity: 0.3;
    box-shadow: none;
  }

  .footer-social-logo {
    display: inline-flex;
    padding: 0 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-logo-htmlacademy {
    fill: #000000;
  }

  .footer-logo:hover .footer-logo-htmlacademy {
    fill: #756257;
  }

  .footer-logo:focus:focus-visible .footer-logo-htmlacademy {
    fill: #756257;
  }

  .footer-logo:active {
    opacity: 0.3;
    box-shadow: none;
  }

  .footer-contacts-container {
    width: 500px;
  }

  /*Catalog*/

  .catalog-products {
    background-image: url("../images/catalog-back.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #476b86;
    width: 1200px;
    padding-top: 39px;
    margin-bottom: 44px;
  }

  .inner-header-title {
    display: block;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .inner-header {
    margin-left: 66px;
    margin-bottom: 44px;
  }



  /* Хлебные крошки */
  .breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    list-style-type: none;
  }

  .breadcrumbs-link-home {
    background-image: url("../images/home.svg");
    background-repeat: no-repeat;

  }

  .inner-header-title {
    font-size: 60px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    color: #000000;
    background-color: #ffffff;
  }

  .catalog-filter-title {
    font-size: 20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
  }

  .control {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
  }

  .button-reset {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .catalog-sorting {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .select-control {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;

  }

  .hotel-card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000000
  }

  .frame-hotel-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
  }

  .frame-stars {
    font-size: 16px;
    color: #333333;
    background-color: #F2F2F2;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  .button-favourites-current {
    display: inline-flex;
    padding: 8px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #7DB54F;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
  }
